@{
    ViewData["Title"] = "Resumo Pessoal";
}

<h1>@ViewData["Title"]</h1>

<p>Olá! Meu nome é Lucas Viegas de Freitas, tenho 17 anos e estou terminando o ensino médio. Também faço um curso técnico em TI. Estou sempre buscando novos desafios e aprendizados na área de tecnologia.</p>
